@import "tailwindcss";

@theme {
  --color-gray-600: #9597A5;
  --color-gray-100: #F4F5F7;
  --color-gray-50: #FAFAFA;

  --color-blue-950: #2D314D;

  --color-green-400: #30C88F;

  --font-sans: "Public Sans", sans-serif;
  --text-base: 14px;
  --leading-base: 115%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Public Sans", sans-serif;
}