@import "tailwindcss";

@theme {
  --color-gray-600: #9597A5;
  --color-gray-100: #F4F5F7;
  --color-gray-50: #FAFAFA;

  --color-blue-950: #2D314D;

  --color-green-400: #30C88F;
  --color-invite-gradient-start: #2AB6D9;
  --color-invite-gradient-end: #33D35E;
  --background-image-invite-gradient: linear-gradient(15deg, var(--color-invite-gradient-start) 0%, var(--color-invite-gradient-end) 90%);

  --font-sans: "Public Sans", sans-serif;
  --text-base: 14px;
  --leading-base: 115%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Public Sans", sans-serif;
}